/node_modules
/public/hot
/public/storage
/public/css/app*.css
/public/css/login*.css
/public/js/app*.js
/public/js/login*.js
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
Thumbs.db
/resources/assets/js/environment.js
/.DS_Store
/public/.DS_Store
