
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-social/bootstrap-social.scss";

.btn.btn-block.btn-social {
    color: #fff;

    .fa {
        line-height: inherit;
    }
}


.login .content {
    width: 700px !important;
}


@media (max-width: $screen-sm-max) {
    .border-between > [class*='col-']:after {
        display: none;
    }
}

.border-between > [class*='col-']:after {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 100%;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between > [class*='col-']:last-child:after {
    display: none;
}
